@layer normalize, typography, base, spacing, rte, layout, components, blocks, sections, utility;

/* @@ ROOT VARIABLES */
:root {
  --header-height: 78px;
  --pw-spacing: 1.5rem;
  
  /* ## colors */
  --color-white: #FFFBF1;
  --color-dark-white: #F7EBCC;
  --color-yellow: #FFF4C0;
  --color-dark-yellow: #F5E9AD;
  --color-blue: #C6E4FF;
  --color-dark-blue: #B1D5F5;
  --color-brown: #5B4532;
  --color-dark-brown: #513B29;
  --color-green: #6E7354;
  --color-dark-green: #636846;

  /* animation */
  --transition-hover: 800ms cubic-bezier(0.19,1,0.22,1);
}

@media (min-width: 980px) {
  :root {
    --header-height: 78px;
    --pw-spacing: 3rem;
  }
}

/* @@ NORMALIZE */
@layer normalize {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    min-height: 0;
  }

  body {
    line-height: 1;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  span,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: inherit;
    overflow-wrap: break-word;
    font-weight: inherit;
  }

  p {
    text-wrap: pretty;
    line-height: 1.55;
  }

  ol,
  ul {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    -webkit-appearance: none;
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
  }

  svg {
    /* Bug(Old Safari): SVG incorrect placement */
    -webkit-transform: translate(0px, 0px);
  }

  select {
    /* Reset appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Reset box model */
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;

    /* Reset typography */
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;

    /* Misc */
    cursor: pointer;
    box-shadow: none;
  }
}


/* @@ TYPOGRAPHY */
@layer typography {
  @font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay.woff2') format('woff2'),
        url('../fonts/ClashDisplay.woff') format('woff'),
        url('../fonts/ClashDisplay.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.woff2') format('woff2'),
        url('../fonts/Montserrat.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Italic';
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
  }

  body {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }

  /* ## headers */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: "ClashDisplay", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: normal;
    hyphens: auto;
    margin-bottom: 0.5em;
  }

  h1,
  .h1 {
    font-size: 3.5rem;
  }

  h2,
  .h2 {
    font-size: 2.5rem;
  }

  h3,
  .h3 {
    font-size: 2rem;
  }

  h4,
  .h4 {
    font-size: 1.75rem;
  }

  h5,
  .h5 {
    font-size: 1.25rem;
  }

  h6,
  .h6 {
    font-size: 1rem;
  }

  /* ## labels */
  .l1 {
    font-size: 1.75rem;
  }

  .l2 {
    font-size: 1.25rem;
  }
  
  @media (min-width: 980px) {
    h1,
    .h1 {
      font-size: 4.5rem;
    }
  
    h2,
    .h2 {
      font-size: 3.5rem;
    }
  
    h3,
    .h3 {
      font-size: 2.5rem;
    }

    .l1 {
      font-size: 2rem;
    }

    .l2 {
      font-size: 1.5rem;
    }
  }


  /* ## miscellaneous */
  .alt-text {
    padding-top: 0.5rem;
    opacity: 0.5;
    font-style: italic;
  }
}


/* @@ BASE */
@layer base {
  body {
    background-color: var(--color-white);
  }

  /* ## color themes */
  .color-theme-section {
    color: var(--color-main);
    background-color: var(--color-secondary);
  }

  [data-color-theme="white-brown"] {
    --color-main: var(--color-white);
    --color-secondary: var(--color-brown);
    --color-tertiary: var(--color-dark-white);
  }

  [data-color-theme="white-green"] {
    --color-main: var(--color-white);
    --color-secondary: var(--color-green);
    --color-tertiary: var(--color-dark-white);
  }

  [data-color-theme="yellow-brown"] {
    --color-main: var(--color-yellow);
    --color-secondary: var(--color-brown);
    --color-tertiary: var(--color-dark-yellow);
  }

  [data-color-theme="yellow-green"] {
    --color-main: var(--color-yellow);
    --color-secondary: var(--color-green);
    --color-tertiary: var(--color-dark-yellow);
  }

  [data-color-theme="blue-brown"] {
    --color-main: var(--color-blue);
    --color-secondary: var(--color-brown);
    --color-tertiary: var(--color-dark-blue);
  }

  [data-color-theme="brown-white"] {
    --color-main: var(--color-brown);
    --color-secondary: var(--color-white);
    --color-tertiary: var(--color-dark-brown);
  }

  [data-color-theme="brown-yellow"] {
    --color-main: var(--color-brown);
    --color-secondary: var(--color-yellow);
    --color-tertiary: var(--color-dark-brown);
  }

  [data-color-theme="brown-blue"] {
    --color-main: var(--color-brown);
    --color-secondary: var(--color-blue);
    --color-tertiary: var(--color-dark-brown);
  }

  [data-color-theme="green-white"] {
    --color-main: var(--color-green);
    --color-secondary: var(--color-white);
    --color-tertiary: var(--color-dark-green);
  }

  [data-color-theme="green-yellow"] {
    --color-main: var(--color-green);
    --color-secondary: var(--color-yellow);
    --color-tertiary: var(--color-dark-green);
  }

  /* ## wp menu */
  .wp-nav-menu a {
    transition: opacity var(--transition-hover);
  }

  .wp-nav-menu:has(.menu-item:hover) .menu-item:not(:hover) a {
    opacity: 0.5;
  }

  .current-menu-item {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.05em;
  }

  /* ## the header */
  .the-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
  }

  .the-header.animate.allow-transition {
    
  }

  .the-header-banner-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 37px;
    height: 37px;
    padding: 0.5rem;
    background-color: var(--color-secondary);
  }

  .the-header-banner-btn svg {
    width: 100%;
    height: auto;
  }

  .the-header-main {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .the-header-logo {
    flex: 0 0 auto;
    color: var(--color-white);
  }
  
  .the-header-logo svg {
    width: 8rem;
    height: auto;
  }

  .the-header__select select {
    text-transform: capitalize;
    display: inline-block;
  }

  .the-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }

  .the-header-left,
  .the-header-right {
    flex: 1 1 100%;
  }

  .observe-zone-the-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
  }


  /* ## the menu */
  .the-menu-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }


  /* ## the footer */
  .the-footer {
    padding-top: 2rem;
  }

  .the-footer-main {
    display: flex;
    padding-bottom: 5rem;
  }

  .the-footer-some,
  .the-footer-description {
    flex: 0 0 auto;
  }

  .the-footer-some {
    display: flex;
    gap: 1rem;
    padding-right: var(--pw-spacing);
  }

  .the-footer-description {
    max-width: 24rem;
  }

  .the-footer-aside {
    display: flex;
    gap: 5rem;
  }

  .the-footer-logo svg {
    width: 100%;
    height: auto;
  }

  .the-footer-menu {
    --gap: 0.2rem;
  }

  .the-footer-some a {
    text-transform: capitalize;
  }

  .the-footer-copyright {
    font-size: 0.75rem;
  }

  .the-footer-weekday-name {
    text-transform: capitalize;
  }
  
  @media (max-width: 979px) {
    .the-footer-main {
      flex-direction: column;
    }

    .the-footer-aside {
      gap: 2rem;
    }

    .the-footer-some {
      margin-top: 3rem;
      order: 1;
    }

    .the-footer-aside {
      margin-top: 2rem;
      flex-direction: column;
    }
  }
  
  @media (min-width: 980px) {
    .the-footer {
      padding-top: 6rem;
    }

    .the-footer-main {
      padding-bottom: 4rem;
    }

    .the-footer-aside {
      padding-left: 1rem;
    }

    .the-footer-some {
      flex-direction: column;
      justify-content: center;
    }

    .the-footer-some + .the-footer-description {
      padding-left: 4rem;
    }

    .the-footer-main > *:last-child {
      padding-right: 4rem;
    }

    .the-footer-some a {
      writing-mode: sideways-lr;
    }

    .the-footer-aside {
      flex: 1 1 100%;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
}


/* @@ SPACING */
@layer spacing {
  /* ## padding */
  .pt-2 {
    padding-top: 2rem;
  }

  .pb-2 {
    padding-bottom: 2rem;
  }

  .py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }


  /* ## margin */
  .mt-1 {
    margin-top: 1rem;
  }

  .mt-15 {
    margin-top: 1.5rem;
  }

  .mt-2 {
    margin-top: 2rem;
  }
  
  .my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .mb-1 {
    margin-bottom: 1rem;
  }

  /* ## gap */
  .gap-0\.2 {
    --gap: 0.2rem;
  }

  .gap-0\.5 {
    --gap: 0.5rem;
  }

  .gap-1 {
    --gap: 1rem;
  }

  .gap-2 {
    --gap: 2rem;
  }
}


/* @@ RTE */
@layer rte {
  .rte > * + * {
      margin-top: 1rem;
  }

  .rte h2 { 
    margin-top: 4rem; 
    margin-bottom: 1.5rem;
  }

  .rte h3 { 
    margin-top: 2.5rem; 
  }

  .rte figure,
  .rte blockquote,
  .rte img {
    margin: 2rem 0;
  }

  .rte p { 
    line-height: 1.6; 
  }

  .rte ul {
    list-style-type: disc; 
  }

  .rte ol {
    list-style-type: decimal;
  }

  .rte ul,
  .rte ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
  }

  .rte ul ul, 
  .rte ol ol, 
  .rte ul ol, 
  .rte ol ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .rte ul ul {
    list-style-type: circle;
  }

  .rte li + li {
    margin-top: 0.5rem;
    line-height: 1.6;
  }

  .rte img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .rte figure {
    text-align: center;
  }

  .rte figcaption {
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }

  .rte blockquote {
    border-left: 4px solid var(--color-black);
    padding: 1rem 0 1rem 2rem;
    font-style: italic;
  }

  .rte .gallery {
    display: grid;
    grid-template-columns: repeat(var(--columns, 1), 1fr);
    gap: 1rem;
  }

  @media (min-width: 980px) {
    .rte .gallery-columns-1 {
      --columns: 1;
    }
  
    .rte .gallery-columns-2 {
      --columns: 2;
    }
  
    .rte .gallery-columns-3 {
      --columns: 3;
    }
  
    .rte .gallery-columns-4,
    .rte .gallery-columns-5,
    .rte .gallery-columns-6,
    .rte .gallery-columns-7,
    .rte .gallery-columns-8,
    .rte .gallery-columns-9 {
      --columns: 4;
    }
  }
}


/* @@ LAYOUT */
@layer layout {
  /* ## blocks */
  .block {
    display: block;
  }

  .inline-block {
    display: inline-block;
  }


  /* ## wrapper */
  .pw\:wrapper {
    padding: 0 var(--pw-spacing);
    margin: 0 auto;
    max-width: 120rem;
  }


  /* ## rows */
  .row,
  .spaced\:row {
    display: flex;
    align-items: center;
    gap: var(--gap, 1.5rem);
  }

  .spaced\:row {
    justify-content: space-between;
  }

  .auto\:row-item {
    flex: 0 0 auto;
  }

  .fill\:row-item {
    flex: 1 0 auto;
  }


  /* ## column */
  .column {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1.5rem);
  }


  /* ## grid */
  .grid {
    display: grid;
    gap: var(--gap, 1rem);
    grid-template-columns: repeat(12, 1fr);
  }

  .clmns-6\/12 {
    grid-column: auto / span 6;
  }

  .clmns-12\/12 {
    grid-column: auto / span 12;
  }
  
  @media (max-width: 979px) {
    .mobile\:clmns-first {
      grid-column-start: 1;
      grid-row-start: 1;
    }
  }

  @media (min-width: 980px) {
    .laptop\:clmns-3\/12 {
      grid-column: auto / span 3;
    }

    .laptop\:clmns-4\/12 {
      grid-column: auto / span 4;
    }

    .laptop\:clmns-6\/12 {
      grid-column: auto / span 6;
    }

    .laptop\:clmns-8\/12 {
      grid-column: auto / span 8;
    }

    .laptop\:clmns-first {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    .laptop\:start-clmn-3 {
      grid-column-start: 3;
    }
  }

  @media (min-width: 1440px) {
    .desktop\:clmns-6\/12 {
      grid-column: auto / span 6;
    }

    .desktop\:start-clmn-4 {
      grid-column-start: 4;
    }
  }
}


/* @@ COMPONENTS */
@layer components {
  /* ## banner */
  .banner,
  .small\:banner {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .small\:banner {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  /* 
  *:hover > .banner .banner-scroll-track {
    animation-play-state: paused;
  } */
  
  .small\:banner:hover .banner-scroll-track {
    animation-play-state: paused;
  }
  
  .banner.active,
  .small\:banner.active {
    transition: opacity var(--transition-hover) 100ms;
    opacity: 1;
  }

  .banner.active .banner-blueprint,
  .small\:banner.active .banner-blueprint {
    display: none;
  }

  .banner-track {
    display: flex;
    font-size: 4rem;
    font-weight: 400;
    font-family: "ClashDisplay", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }

  .small\:banner .banner-track {
    font-size: 14px;
  }

  .banner-scroll-track {
    display: flex;
    flex-shrink: 0;
    white-space: nowrap;
    will-change: transform;
    animation: infinity-scroll infinite linear;
    padding-right: 4rem;
    gap: 4rem;
  }

  .small\:banner .banner-scroll-track {
    padding-right: 33vw;
    gap: 33vw;
  }

  @keyframes infinity-scroll {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
  }

  /* ## accordion */
  .accordion,
  .accordion__item {
    display: flex;
    flex-direction: column;
  }
  
  .accordion {
    gap: 1rem;
  }

  .accordion__item {
    gap: 0.5rem;
  }

  .accordion__header {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
  }

  .accordion__drawer {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
  }

  .accordion__item[data-is-open="true"] .accordion__drawer {
    grid-template-rows: 1fr;
  }

  .accordion__content {
    overflow: hidden;
  }


  /* ## pagination */
  .pagination {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .pagination .current {
    font-weight: 700;
  }

  .pagination a {
    text-decoration: underline;
    text-underline-offset: 0.3em;
  }


  /* ## badges */
  .badges {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    z-index: 1;
    padding: 0.5rem;
  }

  .badge {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    color: var(--color-white);
    background-color: var(--color-black);
  }


  /* ## buttons */
  .btn,
  .small\:btn {
    display: inline-flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    /* border-radius: 1em; */
    color: var(--color-secondary);
    padding: 1.15em 1.65em;
    text-align: center;
    background-color: var(--color-main);
    transition: transform var(--transition-hover), background-color var(--transition-hover);
  }

  .small\:btn {
    font-size: 14px;
    padding: 0.8em 1.25em;
  }

  .btn.cta,
  .small\:btn.cta {
    background-color: var(--color-tertiary);
  }

  .btn.cta:hover,
  .small\:btn.cta:hover {
    background-color: var(--color-main);
  }

  .btn:hover,
  .small\:btn:hover {
    background-color: var(--color-tertiary, var(--color-dark-main));
  }

  .btn:active,
  .small\:btn:active {
    transform: scale(0.975);
  }

  .btn-icon {
    width: 1.25em;
  }

  .btn-icon svg {
    width: 100%;
    height: auto;
  }
  
  .btn select,
  .small\:btn select {
    position: relative;
    z-index: 1;
    text-align: center;
  }

  .txt\:btn {
    text-decoration: underline;
    text-underline-offset: 0.3em;
  }

  .btn,
  .txt\:btn {
    flex: 0 0 auto;
  }

  .icon\:btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
  }

  .icon\:btn svg {
    width: 100%;
    height: auto;
  }


  /* ## modal */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }
 
  .modal:not(.display-modal) {
    display: none;
  }

  .modal::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: opacity 500ms ease-in-out;
  }

  .modal.open-modal::before {
    opacity: 1;
  }

  .modal-inner {
    position: absolute;
    background-color: var(--color-bg);
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 480px;
    transform: translateX(101%);
    transition: transform 700ms ease-in-out;
    padding: var(--pw-spacing);
  }

  .open-modal .modal-inner {
    transform: translateX(0%);
  }

  .modal-header {
    flex: 0 0 auto;
    justify-content: flex-end;
  }

  .modal-content {
    padding: var(--pw-spacing) 0;
    flex: 1 0 auto;
    overflow-y: scroll;
  }


  /* ## ratio container */
  .ratio-container {
    position: relative;
    margin: 0 auto;
    max-width: var(--max-width, 100%);
  }

  .ratio-container::before {
    content: "";
    display: block;
    height: 0;
    width: 100%;
    padding-top: calc(var(--ratio-mobile, 1) * 100%);
  }

  .ratio-container-item {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--corners);
  }

  @media (min-width: 980px) {
    .ratio-container::before {
      padding-top: calc(var(--ratio-laptop, var(--ratio-mobile, 1)) * 100%);
    }
  }
}


/* @@ BLOCKS */
@layer blocks {
  /* ## card */
  .block-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem
  }
}

/* @@ SECTIONS */
@layer sections {
  .section {
    margin: 3rem 0;
  }
  
  @media (min-width: 980px) {
    .section {
      margin: 6rem 0;
    }
  }
  
  .bg\:section {
    padding: 3rem 0;
  }
  
  @media (min-width: 980px) {
    .bg\:section {
      padding: 6rem 0;
    }
  }

  /* ## 404 */
  .section-404 .grid {
    min-height: 75vh;
  }

  .section-404__content {
    display: flex;
    align-items: center;
  }


  /* ## carousel */
  .carousel {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    position: relative;
  }

  .carousel-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: var(--pw-spacing);
  }

  .carousel-item,
  .carousel-item .ratio-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .carousel-item-content {
    opacity: 0;
  }

  .carousel-item-content {
    position: relative;
    max-width: 30rem;
  }

  .carousel-item.active .carousel-item-content {
    transition: all 300ms 500ms ease-in;
  }

  .carousel.is-animating .carousel-item.active {
    animation: carouselItemActive 500ms forwards;
    z-index: 2;
  }

  .carousel-item.active {
    transform: translateY(0%);
    z-index: 2;
  }

  @keyframes carouselItemActive {
    from { transform: translateY(101%); }
    to { transform: translateY(0%); }
  }

  .carousel-item.inactive {
    z-index: 1;
  }

  .carousel-item.active .carousel-item-content {
    opacity: 1;
  }


  /* ## post description */
  .section-post-description-items {
    display: flex;
    gap: 2rem;
  }

  .section-post-description-event-item,
  .section-post-description-description-item {
    flex: 1 1 100%;
  }

  @media (max-width: 979px) {
    .section-post-description-items {
      flex-direction: column;
    }
  }
  
  @media (min-width: 980px) {
    .section-post-description-items {
      gap: 4rem;
    }

    .section-post-description-event-item {
      flex: 0 0 auto;
      max-width: 400px;
    }
  }

  /* ## banner */
  .section-banner {
    color: var(--color-main, var(--color-black));
    background-color: var(--color-secondary, var(--color-white));
  }

  /* ## text and image */
  /* ### layout 1 */
  .image\:one\:text-and-image-layout .text-and-image-layout-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .image\:one\:text-and-image-layout .text-and-image-layout-text > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .image\:one\:text-and-image-layout .text-and-image-heading {
    grid-column: 1 / -2;
    margin-bottom: 4rem;
  }

  .image\:one\:text-and-image-layout .text-and-image-sub-heading {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    writing-mode: sideways-lr;
    text-align: center;
    padding-right: var(--pw-spacing);
  }

  .image\:one\:text-and-image-layout .text-and-image-description,
  .image\:one\:text-and-image-layout .text-and-image-button {
    grid-column: 2 / -1;
  }

  .one\:text-and-image-layout .text-and-image-layout-text > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .one\:text-and-image-layout .text-and-image-description,
  .one\:text-and-image-layout .text-and-image-button {
    grid-column-start: 2;
  }

  @media (max-width: 979px) {
    .image\:one\:text-and-image-layout .text-and-image-layout-wrapper {
      gap: 4rem;
    }

    .one\:text-and-image-layout .text-and-image-layout-text > div {
      padding: 3rem 0;
    }

    .one\:text-and-image-layout .text-and-image-heading {
      grid-column: 1 / 6; 
      margin-bottom: 4rem;
    }

    .one\:text-and-image-layout .text-and-image-sub-heading {
      grid-row-start: 1;
      grid-column: 1 / 5;
      margin-bottom: 1rem; 
    }

    .one\:text-and-image-layout .text-and-image-description,
    .one\:text-and-image-layout .text-and-image-button {
      grid-column-end: -1;
    }

    .image\:one\:text-and-image-layout .text-and-image-layout-wrapper:has(.mobile\:image-first) {
      padding-top: var(--pw-spacing);
      padding-bottom: 3rem;
    }

    .image\:one\:text-and-image-layout .text-and-image-layout-wrapper:not(:has(.mobile\:image-first)) {
      padding-top: 3rem;
      padding-bottom: var(--pw-spacing);
    }
  }

  @media (min-width: 980px) {
    .image\:one\:text-and-image-layout .text-and-image-layout-wrapper {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }

    .image\:one\:text-and-image-layout .text-and-image-layout-text {
      grid-column: 1 / 8;
    }

    .image\:one\:text-and-image-layout .text-and-image-layout-image {
      grid-column: 8 / -1;
    }

    .one\:text-and-image-layout .text-and-image-sub-heading {
      align-self: end;
    }

    .one\:text-and-image-layout .text-and-image-layout-text > div {
      grid-template-columns: repeat(2, 1fr);
    }

    .one\:text-and-image-layout .text-and-image-description,
    .one\:text-and-image-layout .text-and-image-button {
      justify-self: end;
    }

    .one\:text-and-image-layout .text-and-image-heading {
      max-width: 448px;
      padding-right: 4rem;
    }

    .one\:text-and-image-layout .text-and-image-heading,
    .one\:text-and-image-layout .text-and-image-description {
      grid-row-start: 1;
    }

    .one\:text-and-image-layout .text-and-image-button {
      width: 100%;
    }
  }

  /* ### layout 2 */
  .two\:text-and-image-layout .text-and-image-layout-text > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .two\:text-and-image-layout {
    padding: 3rem 0;
  }

  .image\:two\:text-and-image-layout .text-and-image-layout-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .image\:two\:text-and-image-layout .text-and-image-layout-text > div {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .two\:text-and-image-layout .text-and-image-heading {
    grid-column: 1 / -1;
    margin-bottom: 10vh;
  }

  .two\:text-and-image-layout .text-and-image-sub-heading {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    align-self: end;
    writing-mode: sideways-lr;
    padding-right: var(--pw-spacing);
  }

  .two\:text-and-image-layout .text-and-image-description,
  .two\:text-and-image-layout .text-and-image-button {
    grid-column: 2 / -1;
  }
  
  .image\:two\:text-and-image-layout .text-and-image-layout-text {
    padding: 0 var(--pw-spacing);
    max-width: 60rem;
  }

  .image\:two\:text-and-image-layout .text-and-image-sub-heading {
    grid-column: 2 / -1;
    grid-row: 1 / 4;
    writing-mode: sideways-rl;
    text-align: center;
    padding-left: var(--pw-spacing);
  }

  @media (max-width: 979px) {
    .two\:text-and-image-layout .text-and-image-layout-wrapper {
      padding-right: var(--pw-spacing); 
      padding-left: var(--pw-spacing); 
    }
    
    .two\:text-and-image-layout .text-and-image-layout-wrapper,
    .image\:two\:text-and-image-layout .text-and-image-layout-wrapper {
      gap: 2.5rem;
    }

    .image\:two\:text-and-image-layout .text-and-image-layout-wrapper:has(.mobile\:image-first) {
      padding-bottom: 3rem;
    }

    .image\:two\:text-and-image-layout .text-and-image-layout-wrapper:not(:has(.mobile\:image-first)) {
      padding-top: 3rem;
    }
  }
  
  @media (min-width: 980px) {
    .two\:text-and-image-layout .text-and-image-layout-text > div,
    .image\:two\:text-and-image-layout .text-and-image-layout-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    .two\:text-and-image-layout .text-and-image-heading {
      grid-column: 1 / 2;
      margin-bottom: 15vh;
    }

    .two\:text-and-image-layout .text-and-image-description {
      grid-row-start: 2;
    }
    
    .two\:text-and-image-layout .text-and-image-button {
      grid-row-start: 3;
    }
    .two\:text-and-image-layout .text-and-image-description,
    .two\:text-and-image-layout .text-and-image-button {
      padding-left: 4rem;
    }

    .two\:text-and-image-layout {
      padding-bottom: 6rem 0;
    }
  }

  /* ### layout 3 */
  .three\:text-and-image-layout .text-and-image-layout-wrapper,
  .image\:three\:text-and-image-layout .text-and-image-layout-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    text-align: center;
  }

  .three\:text-and-image-layout .text-and-image-layout-text > div,
  .image\:three\:text-and-image-layout .text-and-image-layout-text > div {
    display: grid;
    grid-template-columns: 1fr;
  }

  .three\:text-and-image-layout .text-and-image-description,
  .image\:three\:text-and-image-layout .text-and-image-description {
    max-width: 40rem;
    margin: 0 auto;
  }

  .three\:text-and-image-layout .text-and-image-sub-heading,
  .image\:three\:text-and-image-layout .text-and-image-sub-heading {
    grid-row-start: 1;
    margin-bottom: 1rem;
  }

  .three\:text-and-image-layout .text-and-image-layout-text,
  .three\:text-and-image-layout .text-and-image-layout-image,
  .image\:three\:text-and-image-layout .text-and-image-layout-text,
  .image\:three\:text-and-image-layout .text-and-image-layout-image {
    grid-column: 1 / -1;
  }

  .three\:text-and-image-layout .text-and-image-layout-image,
  .image\:three\:text-and-image-layout .text-and-image-layout-image {
    margin-top: 2rem;
  }

  @media (max-width: 979px) {
    .image\:three\:text-and-image-layout .text-and-image-layout-wrapper:has(.mobile\:image-first) {
      padding-bottom: 3rem;
    }

    .image\:three\:text-and-image-layout .text-and-image-layout-wrapper:not(:has(.mobile\:image-first)) {
      padding-top: 3rem;
    }
  }

  @media (min-width: 980px) {
    .three\:text-and-image-layout .text-and-image-layout-wrapper,
    .image\:three\:text-and-image-layout .text-and-image-layout-wrapper {
      gap: 2.5rem;
    }

    .three\:text-and-image-layout .text-and-image-layout-text,
    .three\:text-and-image-layout .text-and-image-layout-image,
    .image\:three\:text-and-image-layout .text-and-image-layout-text,
    .image\:three\:text-and-image-layout .text-and-image-layout-image {
      grid-column: 3 / span 8;
    }
  }

  /* ### all layouts */
  @media (max-width: 979px) {
    .text-and-image-layout-image.mobile\:image-first {
      grid-row-start: 1;
    }
  }

  @media (min-width: 980px) {
    .text-and-image-layout-image.laptop\:image-first {
      grid-row-start: 1;
      grid-column-start: 3;
    }

    .section-text-and-image {
      padding: 6rem 0;
    }
  }
}


/* @@ UTILITY */
@layer utility {
  /* ## sticky-top element */
  .top\:sticky {
    position: sticky;
    top: calc(var(--header-height, 0px) + var(--pw-spacing));
  }


  /* ## cover element */
  .contain {
    position: relative;
  }

  .cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  /* ## hide element */
  @media (max-width: 979px) {
    .handheld\:hidden {
      display: none;
    }
  }

  @media (max-width: 479px) {
    .mobile\:hidden {
      display: none;
    }
  }

  @media (min-width: 980px) {
    .laptop\:hidden {
      display: none;
    }
  }


  /* ## disable scroll */
  .disable-scroll {
    overflow: hidden;
  }
}
